# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build / Packaging
*.egg-info/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db